@import "./index.scss";

/*HERO SECTION */
#hero{
    width: 100%;
    height: 100vh;
    background-color: $bluebg;
    text-align: center;
    position: relative;
    * {
        user-select: none;
    }
}

